<!DOCTYPE html>
<html lang="en">
<% include head.ejs %>

<style>
    .col-sm-7 {
        margin-bottom: 5px;
    }

    tr:not(:first-child):hover {
        background-color: #ddd;
    }

    .scroller {
        position: relative;
        height: 368px;
        overflow: auto;
    }

    .scrollerChosenDiag {
        position: relative;
        height: 200px;
        overflow: auto;
    }
</style>
<body>
<div class="container-fluid">
    <% include nav.ejs %>
    <div class="col-md-5 ">
        <div class="panel panel-default">
            <div class="panel-heading"><h4>Patient</h4></div>
            <div class="panel-body"  style="min-height: 300px">
                <div class="box box-info">
                    <div class="col-sm-6">
                        <h4 style="color:#00b1b1;"><%= patient.name %></h4></span>
                    </div>
                    <div class="clearfix"></div>
                    <hr style="margin:5px 0 5px 0;">
                    <span id="patientId" hidden="true"><%= patient.ID %></span>

                    <div class="col-sm-5 col-xs-6  ">National ID:</div>
                    <div class="col-sm-7 col-xs-6 ">
                        <span id="nationalId"><%= patient.national_id %></span>
                    </div>

                    <div class="col-sm-5 col-xs-6 ">Name:</div>
                    <div class="col-sm-7 col-xs-6 ">
                        <span id="name" class="editable"><%= patient.name %></span></div>

                    <div class="col-sm-5 col-xs-6 ">Date Of Birth:</div>
                    <div class="col-sm-7">
                        <span id="dateOfBirth"> <%= patient.date_of_birth %></span>
                    </div>

                    <div class="col-sm-5 col-xs-6">Sex:</div>
                    <div class="col-sm-7">
                        <span id="sex"><%= patient.sex %></span></div>

                    <div class="col-sm-5 col-xs-6 tital">Mobile Number:</div>
                    <div class="col-sm-7">
                        <span id="mobileNo" class="editable"><%= patient.mobile_no %></span></div>

                    <div class="col-sm-5 col-xs-6">Village Name:</div>
                    <div class="col-sm-7">
                        <select id="villageName" disabled="true">
                            <option><%= patient.village_name %></option>
                        </select></div>
                    <div class="col-sm-5 col-xs-6 tital ">
                    </div>
                </div>
            </div>
            <div class="panel-footer">
                <button class="btn btn-space btn-info btn-lg" onclick="unlockFields()"><span
                            class="glyphicon glyphicon-pencil"></span></button>
                <button class="btn btn-space btn-success btn-edit btn-lg btnSaveUser" onclick="savePatient()"
                        disabled="true">
                    <span class="glyphicon glyphicon-ok"></span>
                </button>
            </div>
        </div>
    </div>
    <div class="col-md-7 ">
        <div class="panel panel-default">
            <div class="panel-heading"><h4>Visits</h4></div>
            <div class="panel-body" style="min-height: 300px">
                <table id="VisitsTable" class="table">
                    <tr>
                        <% if(visits != undefined){ %>
                            <th>Timestamp</th>
                            <th>HSA/HE Name</th>
                            <th>Diagnoses</th>
                        <%
                        } %>
                    </tr>
                    <% visits.forEach(function(visit) { %>
                        <tr onclick="window.location.href ='/visits/<%= visit.id %>'">
                            <td class="col-md-2">
                                <%= moment(visit.timestamp).format("YYYY-MM-DD HH:mm") %>
                            </td>
                            <td class="col-md-2">
                                <%= visit.AMEDUser.name %>
                            </td>
                            <% var diagStr = "";
                                visit.Diagnoses.forEach(function (diagnosis) {
                                    diagStr += diagnosis.name + ", ";
                                });
                                diagStr = diagStr.slice(0, -2);
                            %>
                            <td class="col-md-8">
                                <%= diagStr %>
                            </td>
                        </tr>
                    <% }); %>
                </table>
            </div>
            <div class="panel-footer">
                <button class="glyphicon glyphicon-plus btn-success btn-lg" data-toggle="modal"
                        data-target="#addVisit"></button>
            </div>
        </div>
        <!-- Dialog Modal --->
        <!-- Modal -->
        <div id="addVisit" class="modal fade" role="dialog">
            <div class="modal-dialog modal-lg">
                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">Add Visit</h4>
                    </div>
                    <div class="modal-body" style="overflow: hidden">
                        <div class="col-md-6" id="allDiagnoses">
                            <h2>Add diagnoses</h2>
                            <input class="form-control" id="myInput" type="text" placeholder="Search..">
                            <br>
                            <div class="panel-default panel">
                                <ul class="list-group hover scroller" id="myList">
                                </ul>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div>
                                <h2>Chosen diagnoses</h2>
                                <div class="panel-default panel">
                                    <ul class="list-group scrollerChosenDiag" id="chosenDiagnoses">
                                    </ul>
                                </div>
                            </div>
                            <div>
                                <h2>Note</h2>
                                <textarea class="form-control" rows="7" id="noteTextArea"></textarea>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer" style="margin-top:3px">
                        <button type="button" onclick="addVisit()" class="btn btn-success" data-dismiss="modal">
                            Save
                        </button>
                        <button type="button" class="btn btn-info" data-dismiss="modal">Cancel</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="panel-group col-md-5">
        <div class="panel panel-default">
            <div class="panel-heading"><h4>Caregivers</h4></div>
            <div class="panel-body">
                <%var i = 0;
                patient.CareGivers.forEach(function(careGiver) { %>
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a data-toggle="collapse" href="#diagCollapse<%= i %>"><%= careGiver.name %></a>
                            </h4>
                        </div>
                        <div id="diagCollapse<%= i %>" class="panel-collapse collapse">
                            <div class="panel-body">
                                <div class="col-sm-5 col-xs-6  ">National ID:</div>
                                <div class="col-sm-7 col-xs-6 ">
                                    <span><%= careGiver.national_id %></span>
                                </div>
                                <div class="col-sm-5 col-xs-6  ">Date of birth:</div>
                                <div class="col-sm-7 col-xs-6 ">
                                    <span><%= careGiver.date_of_birth %></span>
                                </div>
                                <div class="col-sm-5 col-xs-6  ">Relation:</div>
                                <div class="col-sm-7 col-xs-6 ">
                                    <span><%= careGiver.relation_to_patient %></span>
                                </div>
                                <div class="col-sm-5 col-xs-6  ">Mobile Number:</div>
                                <div class="col-sm-7 col-xs-6 ">
                                    <span><%= careGiver.mobile_no %></span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <% i++;}); %>
            </div>

            <div class="panel-footer">
                <button class="glyphicon glyphicon-plus btn-success btn-lg" data-toggle="modal"
                        data-target="#addCaregiver"></button>
            </div>
        </div>
    </div>

    <!-- Dialog Modal --->
    <!-- Modal -->
    <div id="addCaregiver" class="modal fade" role="dialog">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header panel-primary">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Add Caregiver</h4>
                </div>
                <form id="registerCaregiver">
                    <div class="modal-body">
                        <div class="form-group">
                            <label for="caregiverName">Caregiver Name <span class="colorChange">* </span></label>
                            <input class="form-control caregiver" id="caregiverName" name="caregiverName"
                                   placeholder="Name" required>
                        </div>
                        <div class="form-group">
                            <label for="caregiverNationalId">Caregiver National ID<span
                                        class="colorChange">* </span></label>
                            <input class="form-control caregiver" id="caregiverNationalId"
                                   name="caregiverNationalId"
                                   placeholder="National ID" required>
                        </div>
                        <div class="form-group">
                            <label for="relation">Relation to patient <span class="colorChange">* </span></label>
                            <input class="form-control caregiver" id="relation" name="relation"
                                   placeholder="Relation"
                                   required>
                        </div>
                        <div class="form-group">
                            <label for="caregiverDateOfBirth">Date Of Birth <span
                                        class="colorChange">* </span></label>
                            <input class="form-control caregiver" id="caregiverDateOfBirth"
                                   name="caregiverDateOfBirth"
                                   placeholder="MM/DD/YYYY" required>
                        </div>
                        <div class="form-group">
                            <label for="caregiverMobileNo">Mobile Number <span class="colorChange">* </span></label>
                            <input class="form-control caregiver" id="caregiverMobileNo" name="caregiverMobileNo"
                                   placeholder="Mobile No" required>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-primary">Submit</button>
                        <button type="button" class="btn btn-info" data-dismiss="modal">Cancel</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<script>
    $(document).ready(function () {
        $("#myInput").on("keyup", function () {
            var value = $(this).val().toLowerCase();
            $("#myList li").filter(function () {
                $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
            });
        });
        var container = $('.bootstrap-iso form').length > 0 ? $('.bootstrap-iso form').parent() : "body";
        var care_giver_date_input = $('input[id="caregiverDateOfBirth"]');
        care_giver_date_input.datepicker({
            format: 'mm/dd/yyyy',
            container: container,
            todayHighlight: true,
            autoclose: true,
        });
    });

    $("#addVisit").on('show.bs.modal', function (e) {
        $.ajax({
            type: "POST",
            url: "/visits/getDiagnoses",
            success: function (result) {
                result.forEach(function (diagnosis) {
                    $("#myList").append('<a href="#" onclick = addDiagnosis(id) id=' + diagnosis.ID + ' class="list-group-item">' + diagnosis.name + '</a>');
                });
            },
            error: function (xhr, status, error) {
                showError(status.message);
            }
        });
    });

    $("#addVisit").on('hidden.bs.modal', function (e) {
        $("#myList").empty();
        $("#chosenDiagnoses").empty();
        $("#noteTextArea").val('');
    });

    function addDiagnosis(id) {
        var a = document.getElementById(id);
        $("#chosenDiagnoses").append(a);
        a.onclick = function () {
            removeDiagnosis(id);
        }
    }

    function removeDiagnosis(id) {
        var a = document.getElementById(id);
        $("#myList").append(a);
        a.onclick = function () {
            addDiagnosis(id);
        }
    }

    $('#registerCaregiver').submit(function (e) {
        e.preventDefault();
        $.ajax({
            method: 'post',
            url: '/patients/registerCaregiver',
            data: $('#registerCaregiver').serialize() + "&patient_id=" + $('#patientId').text(),
            dataType: 'json',
            success: function (result) {
                if (result.status === 200) {
                    showSuccess(result.message);
                    $('#registerCaregiver').trigger("reset");
                    $('#addCaregiver').modal('hide');
                } else {
                    showError(result.message);
                }
            },
            error: function (xhr, status, error) {
                showError(status.message);
            }
        });
    });

    function addVisit() {
        var diagnoses = [];
        $('#chosenDiagnoses a').each(function () {
            diagnoses.push(this.id);
        });
        $.ajax({
            type: "POST",
            url: "/visits/addVisit",
            data: {
                patient_id: "<%= patient.ID %>",
                diagnoses: JSON.stringify(diagnoses),
                note: $('#noteTextArea').val()
            },
            success: function (result) {
                location.reload(true);
            },
            error: function (xhr, status, error) {
                showError(status.message);
            }
        });
    }

    function unlockFields() {

        $(".editable").attr('contentEditable', true);
        $(".editable").css('border', '1px solid darkgray');
        $(".editable").css('box-shadow', '1px 1px 1px 0 lightgray inset');
        $('.editable').css('padding', '3px 4px');
        $(".btnSaveUser").prop('disabled', false);
        $(".btn-info").prop('disabled', true);
        $("#villageName").prop('disabled', false);

        $.ajax({
            type: "POST",
            url: "/villages/getVillages",
            success: function (result) {
                let selected = $('#villageName').val();
                $('#villageName').empty();
                for (var i = 0; i < result.length; i++) {
                    $('#villageName').append('<option value=' + result[i].name + '>' + result[i].name + '</option>');

                }
                $('#villageName').val(selected);


            },
            error: function (result) {

            }
        });

    }

    function lockFields() {
        $(".editable").attr('contentEditable', false);
        $(".editable").css('border', '');
        $(".editable").css('box-shadow', '');
        $('.editable').css('padding', '');
        $(".btnSaveUser").prop('disabled', true);
        $(".btn-info").prop('disabled', false);
        $("#villageName").prop('disabled', true);

    }

    function savePatient() {
        $.ajax({
            type: "POST",
            url: "/patients/updatePatient",
            data: {
                name: $('#name').text(),
                mobileNo: $('#mobileNo').text(),
                id: $('#patientId').text(),
                villageName: $('#villageName').val()
            }
            ,
            success: function (result) {
                if (result.status === 200) {
                    showSuccess(result.message);
                    lockFields();
                } else {
                    showError(result.message);
                }
            },
            error: function (xhr, status, error) {
                showError(status.message);
            }
        });
    }
</script>
</body>
</html>