<!DOCTYPE html>
<html lang="en">
<% include head.ejs %>
<body>
<div class="container">
    <% include nav.ejs %>

    <div class="col-md-5 ">

        <div class="panel panel-default" >
            <div class="panel-heading"><h4>Patient</h4></div>
            <div class="panel-body">

                <div class="box box-info">


                    <div class="col-sm-6">
                        <h4 style="color:#00b1b1;"><%= result.name %></h4></span>

                    </div>
                    <div class="clearfix"></div>
                    <hr style="margin:5px 0 5px 0;">

                    <div class="col-sm-5 col-xs-6 tital ">National ID:</div>
                    <div class="col-sm-7 col-xs-6 "><%= result.national_id %></div>
                    <div class="clearfix"></div>
                    <div class="bot-border"></div>

                    <div class="col-sm-5 col-xs-6 tital ">Name:</div>
                    <div class="col-sm-7 col-xs-6 "><%= result.name %></div>
                    <div class="clearfix"></div>
                    <div class="bot-border"></div>


                    <div class="col-sm-5 col-xs-6 tital ">Date Of Birth:</div>
                    <div class="col-sm-7"><%= result.date_of_birth %></div>

                    <div class="clearfix"></div>
                    <div class="bot-border"></div>

                    <div class="col-sm-5 col-xs-6 tital ">Sex:</div>
                    <div class="col-sm-7"><%= result.sex %></div>

                    <div class="clearfix"></div>
                    <div class="bot-border"></div>

                    <div class="col-sm-5 col-xs-6 tital ">Mobile Number:</div>
                    <div class="col-sm-7"><%= result.mobile_no %></div>

                    <div class="clearfix"></div>
                    <div class="bot-border"></div>

                    <div class="col-sm-5 col-xs-6 tital ">Village Name:</div>
                    <div class="col-sm-7"><%= result.village_name %></div>

                    <div class="clearfix"></div>
                    <div class="bot-border"></div>

                    <div class="col-sm-5 col-xs-6 tital ">

                    </div>


                </div>


            </div>
            <div class="panel-footer">
                <button type="button" class="glyphicon glyphicon-pencil btn-lg btn-info"></button>
            </div>

        </div>

    </div>
    <div class="col-md-7 ">

        <div class="panel panel-default">

            <div class="panel-heading"><h4>Visits</h4></div>
            <div class="panel-body" style="min-height: 300px">
                <table id="VisitsTable" class="table table-hover">
                    <tr>
                        <%if(records.length>0){ %>
                        <th>Rec ID</th>
                        <th>Patient ID</th>
                        <th>Symptom ID</th>
                        <th>Diagnosis ID</th>
                        <th>User ID</th>
                        <th>Timestamp</th>
                        <%
                        }%>
                    </tr>
                    <% for(var i = 0; i < records.length;i++){ %>
                    <tr>
                        <td><%= records[i].id %></td>
                        <td><%= records[i].patient_id %></td>
                        <td><%= records[i].symptoms_sheet_id %></td>
                        <td><%= records[i].diagnosis_id %></td>
                        <td><%= records[i].user_id %></td>
                        <td><%= records[i].timestamp %></td>
                    </tr>
                    <% } %>

                </table>
            </div>
        <div class="panel-footer">
            <button class="glyphicon glyphicon-plus btn-success btn-lg" data-toggle="modal" data-target="#addVisit"></button>
        </div>
        </div>
        <!-- Dialog Modal --->
        <!-- Modal -->
        <div id="addVisit" class="modal fade" role="dialog">
            <div class="modal-dialog">

                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">Add Visit</h4>
                    </div>
                    <div class="modal-body">
                        <form id="addVisitForm">
                            <div class="form-group">
                                <label for="inputDiagnosis">Diagnosis <span class="colorChange">*</span> </label>
                                <select class="form-control" name="diagnosisID" id="inputName" required>
                                    <option value="1">Diagnosis 1</option>
                                    <option value="2">Diagnosis 2</option>
                                    <option value="3">Diagnosis 3</option>

                                </select>
                            </div>
                            <div class="form-group">
                                <label for="inputTreatment">Treatment <span class="colorChange">*</span></label>
                                <select class="form-control" name="treatmentID" id="inputTreatment"
                                       required>
                                    <option value="1">Treatment 1</option>
                                    <option value="2">Treatment 2</option>
                                    <option value="3">Treatment 3</option>

                                </select>
                            </div>

                            <div class="form-group">
                                <label for="inputMobileNo">Note <span class="colorChange">*</span></label>
                                <textarea class="form-control" name="note" id="inputNote" required></textarea>

                            </div>
                        </form>




                    </div>
                    <div class="modal-footer">
                        <button type="button" onclick="addVisit()" class="btn btn-success" data-dismiss="modal"
                                >Save
                        </button>
                        <button type="button" class="btn btn-info" data-dismiss="modal">Cancel</button>
                    </div>
                </div>

            </div>
    </div>
</div>
</div>

<script>
    $(document).on("dblclick","#VisitsTable tr", function () {
        var $this = $(this);
        var row = $this.closest("tr");
        var id = row.find('td:first').text();


        var requestSite = '/visits/'+id;
        location.replace(requestSite);
    });
    function fetchVisits(){
        $.ajax({
            type: "POST",
            url: "/Visits/getVisits",
            data:
                $('#addVisitForm').serialize()


            ,
            success: function (result) {
                fetchVisits();

            },
            error: function (result) {

            }
        });
    }

function addVisit(){
        alert("here");
    $.ajax({
        type: "POST",
        url: "/visits/addVisit",
        data:
            $('#addVisitForm').serialize()
        ,
        success: function (result) {
            alert("gick bra");

        },
        error: function (result, err, status) {
            alert(err);
            alert(status.message);

        }
    });
}
</script>
</body>
</html>