<!DOCTYPE html>
<html lang="en">
<% include head.ejs %>
<body>
<div class="container">
    <% include nav.ejs %>

    <div class="col-md-5 ">

        <div class="panel panel-default" >
            <div class="panel-heading"><h4>Patient</h4></div>
            <div class="panel-body">

                <div class="box box-info">


                    <div class="col-sm-6">
                        <h4 style="color:#00b1b1;"><%= result.name %></h4></span>

                    </div>
                    <div class="clearfix"></div>
                    <hr style="margin:5px 0 5px 0;">

                    <div class="col-sm-5 col-xs-6 tital ">National ID:</div>
                    <div class="col-sm-7 col-xs-6 "><%= result.national_id %></div>
                    <div class="clearfix"></div>
                    <div class="bot-border"></div>

                    <div class="col-sm-5 col-xs-6 tital ">Name:</div>
                    <div class="col-sm-7 col-xs-6 "><%= result.name %></div>
                    <div class="clearfix"></div>
                    <div class="bot-border"></div>


                    <div class="col-sm-5 col-xs-6 tital ">Date Of Birth:</div>
                    <div class="col-sm-7"><%= result.date_of_birth %></div>

                    <div class="clearfix"></div>
                    <div class="bot-border"></div>

                    <div class="col-sm-5 col-xs-6 tital ">Sex:</div>
                    <div class="col-sm-7"><%= result.sex %></div>

                    <div class="clearfix"></div>
                    <div class="bot-border"></div>

                    <div class="col-sm-5 col-xs-6 tital ">Mobile Number:</div>
                    <div class="col-sm-7"><%= result.mobile_no %></div>

                    <div class="clearfix"></div>
                    <div class="bot-border"></div>

                    <div class="col-sm-5 col-xs-6 tital ">Village Name:</div>
                    <div class="col-sm-7"><%= result.village_name %></div>

                    <div class="clearfix"></div>
                    <div class="bot-border"></div>

                    <div class="col-sm-5 col-xs-6 tital ">

                    </div>


                </div>


            </div>
            <div class="panel-footer">
                <button type="button" class="glyphicon glyphicon-pencil btn-lg btn-info"></button>
            </div>

        </div>

    </div>
    <div class="col-md-7 ">

        <div class="panel panel-default">

            <div class="panel-heading"><h4>Records</h4></div>
            <div class="panel-body" style="min-height: 300px">
                <table class="table">
                    <tr>
                        <%if(records.length>0){ %>
                        <th>Patient ID</th>
                        <th>Record ID</th>
                        <th>Symptom ID</th>
                        <th>Diagnosis ID</th>
                        <th>Timestamp</th>
                        <%
                        }%>
                    </tr>
                    <% for(var i = 0; i < records.length;i++){ %>
                    <tr>
                        <td><%= records[i].patient_id %></td>
                        <td><%= records[i].symptoms_sheet_id %></td>
                        <td><%= records[i].diagnosis_id %></td>
                        <td><%= records[i].user_id %></td>
                        <td><%= records[i].timestamp %></td>
                    </tr>
                    <% } %>

                </table>
            </div>
        <div class="panel-footer">                <button class="glyphicon glyphicon-plus btn-success btn-lg"></button>
        </div>
        </div>
    </div>
</div>


</body>
</html>