<!DOCTYPE html>
<html lang="en">
<% include head.ejs %>
<body>
<% include header.ejs %>
<div class="container">
    <% include nav.ejs %>

    <div class="input-group">
        <input type="text" class="form-control" placeholder="National ID" id="searchText"/>
        <div class="input-group-btn">
            <button class="btn btn-primary" type="submit" id="searchButton">
                <span class="glyphicon glyphicon-search"></span>
            </button>
        </div>
    </div>
    <table id='patientTable' class="table table-striped">
        <tr>
            <th>ID</th>
            <th>name</th>
            <th>NationalID</th>
            <th>Mobile No</th>
            <th>Sex</th>
            <th>Village Name</th>
            <th>Date Of Birth</th>
            <th>&nbsp</th>
            <th>&nbsp</th>

        </tr>
        <% for (var i = 0; i < result.length;i++){ %>
        <tr>
            <td><%= result[i].ID %></td>
            <td class="editable"><%= result[i].name %></td>
            <td class="editable"><%= result[i].nationalID %></td>
            <td class="editable"><%= result[i].mobileNo %></td>
            <td class="editable"><%= result[i].sex %></td>
            <td class="editable"><%= result[i].villageName %></td>
            <td class="editable"><%= result[i].dateOfBirth %></td>
            <td>
                <button id="btnEdit" type="button" class="btn-info btnEdit">Edit</button>
            </td>
            <td>
                <button id="btnDelete" type="button" name="delete_btn" data-mail3=result[i].ID class="btn-danger">x
                </button>
            </td>


        <tr>
            <% } %>
        </tr>
    </table>
</div>
<script>
    function deleteRow() {
        var id = $(this).parent().siblings().filter(":first").text();
        deletePatient(id);
    }

    function deletePatient(id) {
        var confirmation = confirm("Are you sure you want to remove patient?");
        if (confirmation == true) {
            $.ajax({
                type: "POST",
                url: "/deletePatient",
                data: {
                    id: id

                },
                success: function (result) {
                    alert("Borttagen");

                },
                error: function (result) {
                    alert('hej');
                }
            });
        } else {
            return;
        }
    }

    function editRow() {
        if ($(this).html() == 'Edit') {
            $(this).removeClass('btn-info');
            $(this).addClass('btn-success');
            $(this).parent().siblings().find('select').prop("disabled", false);

            $(this).parent().siblings(".editable").attr("contenteditable", "true");
        } else {
            $(this).parent().siblings().find('select').prop("disabled", true);

            $(this).addClass('btn-info');
            $(this).removeClass('btn-success');
            $(this).parent().siblings().attr("contenteditable", "false");
            var id = $(this).parent().siblings().filter(":first").text();
            var name = $(this).parent().siblings().filter(":nth(1)").text();
            var nationalID = $(this).parent().siblings().filter(":nth(2)").text();
            var mobileNo = $(this).parent().siblings().filter(":nth(3)").text();
            var sex = $(this).parent().siblings().filter(":nth(4)").text();
            var villageName = $(this).parent().siblings().filter(":nth(5)").text();
            var dateOfBirth = $(this).parent().siblings().filter(":nth(6)").text();


            // GET from select           var sex = $(this).parent().siblings().find('select').val();


            updatePatient(id, name, nationalID, mobileNo, sex, villageName, dateOfBirth);

        }
        $(this).html($(this).html() == 'Edit' ? 'Save' : 'Edit')

    }

    function updatePatient(id, name, nationalID, mobileNo, sex, villageName, dateOfBirth) {
        $.ajax({
            type: "POST",
            url: "/updatePatient",
            data: {
                id: id,
                name: name,
                nationalID: nationalID,
                mobileNo: mobileNo,
                sex: sex,
                villageName: villageName,
                dateOfBirth: dateOfBirth
            },
            success: function (result) {
            },
            error: function (result) {

            }
        });
    }


    function findPatient(id) {
        $.ajax({
            type: "POST",
            url: "/findPatient",
            data: {
                id: id
            },
            success: function (result) {
                if (!$.trim(result)) {
                    alert("No patient found with given National ID");
                } else {
                    $('#patientTable tbody').empty();
                    $('#patientTable tbody').append('<tr>\n' +
                        '            <th>ID</th>\n' +
                        '            <th>name</th>\n' +
                        '            <th>NationalID</th>\n' +
                        '            <th>Mobile No</th>\n' +
                        '            <th>Sex</th>\n' +
                        '            <th>Village Name</th>\n' +
                        '            <th>Date Of Birth</th>\n' +
                        '            <th>&nbsp</th>\n' +
                        '            <th>&nbsp</th>\n' +
                        '\n' +
                        '        </tr>')
                        $('#patientTable tbody').append('<tr><td>' + result.ID + '</td><td>' + result.name + '</td><td>' + result.nationalID + '</td><td>' + result.mobileNo + '</td><td>' + result.sex + '</td><td>' + result.villageName + '</td><td>' + result.dateOfBirth + '</td> <td><button id="btnEdit" type="button" class="btn-info btnEdit">Edit</button></td><td><button id="btnDelete" type="button" name="delete_btn" data-mail3=result[i].ID class="btn-danger">x</button></td></td></tr>');
                }
            },
            error: function (result) {

            }
        });
    }

    $(document).on('click', '#searchButton', function(){
        var id = $('#searchText').val();
        if(id!=''){
            findPatient(id);
        }
    });

    $(document).keypress(function (e) {
        if (e.which == 13) {
            var id = $('#searchText').val();
            if(id!=''){
            findPatient(id);
            }
        }
    })
    $(document).on('click', '.btn-danger', deleteRow);
    $(document).on('click', '.btnEdit', editRow);
</script>
</body>
</html>