<!DOCTYPE html>
<html lang="en">
<% include head.ejs%>
<body>
<div class="container">
    <% include nav.ejs%>

    <table style="margin-top:50px" class="table table-striped">
        <tr>
            <th>ID</th>
            <th>name</th>
            <th>password</th>
            <th>role</th><th>lastLogin</th>
        </tr>
        <% for (var i = 0; i < result.length;i++){ %>
        <tr>
            <td><%=result[i].ID%></td>
            <td><%=result[i].name%></td>
            <td><%=result[i].password%></td>
            <td><%=result[i].role%></td>
            <td><%=result[i].lastLogin%></td>
        <tr>
            <%}%>
        </tr>
    </table>
</div>
</body>
</html>