<!DOCTYPE html>
<html lang="en">
<% include head.ejs %>

<style>
    .table-striped > tbody > tr:nth-child(2n+1) > td, .table-striped > tbody > tr:nth-child(2n+1) > th {
        background-color: #f5f5f5;

    }

    .symptoms-sheet-scrollbar {
         position: relative;
         height: 500px;
         overflow: auto;
     }

    .notes-scrollbar {
        position: relative;
        max-height: 600px;
        overflow: auto;
    }

    .table-wrapper-scroll-y {
        display: block;
    }

    .noteColor {
        color: black;
    }
    .noteMargin {
        margin-bottom: 6px;
    }


</style>
<body>


<div class="container-fluid">
    <% include nav.ejs %>
    <div class="row">
        <div class="col-sm-12 no-border">

            <div class="panel panel-info">
                <div class="panel-heading" style="min-height:10px">
                    <h4>
                        <span id="visitDate"> <%= moment(visit.timestamp).format("YYYY-MM-DD") %> | </span>
                        <span id="nationalId"> <%= visit.Patient.national_id %> | </span>
                        <%= visit.Patient.name %>
                    </h4>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-5">
        <div class="panel-group" id="accordion">
            <% if(visit.SymptomsSheet != null){ %>
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a data-toggle="collapse" href="#collapse1">Symptoms</a>
                        </h4>
                    </div>
                    <div id="collapse1" class="panel-collapse collapse">
                        <div class="table-wrapper-scroll-y symptoms-sheet-scrollbar table-responsive">
                            <table id="symptomsTable" class="table table-striped">
                                <thead>
                                <tr>
                                    <th></th>
                                    <th></th>
                                </tr>
                                </thead>
                                <tr>
                                    <% for (var symptom in visit.SymptomsSheet.dataValues) if (visit.SymptomsSheet.dataValues.hasOwnProperty(symptom)) { %>
                                    <% var str = symptom.replace(/_/g, " ").replace("days", "(days)");
                                        str = str.charAt(0).toUpperCase() + str.slice(1)%>
                                        <td><b> <%= str + ": " %> </b></td>
                                        <td> <%= visit.SymptomsSheet[symptom] %></td>
                                </tr>
                                <% } %>
                            </table>
                        </div>

                    </div>
                </div>
                <h3>Diagnoses</h3>
            <% }
            var i = 0;
            visit.Diagnoses.forEach(function(diagnosis) { %>
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a data-toggle="collapse" href="#diagCollapse<%= i %>"><%= diagnosis.name %></a>
                        </h4>
                    </div>
                    <div id="diagCollapse<%= i %>" class="panel-collapse collapse">
                        <div class="panel-body"><%= diagnosis.description %>
                        </div>
                        <%if(diagnosis.Treatments != undefined){%>

                        <div class="panel-body">
                            <% var j = 0;
                            diagnosis.Treatments.forEach(function(treatment) { %>
                                <div class="panel">
                                        <h4 >
                                            <%= treatment.description %>
                                        </h4>
                                    <table class="table" id="treatmentTable">
                                    <tr>
                                        <th>Treatment scheme</th>
                                        <th>Drug</th>
                                        <th>Administration</th>
                                    </tr>
                                        <tr>
                                    <td class="col-md-6"><%= treatment.treatment_Scheme %>
                                    </td>
                                    <td class="col-md-3"><%= treatment.drug %>
                                    </td>
                                    <td class="col-md-3"><%= treatment.drug_administration %>
                                    </td>
                                        </tr>
                                    </table>
                                </div>
                            <%});} %>
                        </div>
                    </div>
                </div>
            <% i++;}); %>

        </div>
    </div>
    <div class="col-md-7">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h4 class="panel-title">
                    Notes
                </h4>
            </div>
                <div class="table-wrapper-scroll-y notes-scrollbar table-responsive">
                    <table class="table" id="notesTable">
                        <% var i = 0;
                        visit.Notes.forEach(function(note) { %>
                        <div class="panel panel-default noteMargin">
                            <div class="container-fluid panel-heading " style="padding-top: 0;padding-bottom: 0">
                                <span class="pull-left text-muted"><%= note.AMEDUser.login_id %></span>
                                <span class="pull-right text-muted"><%= moment(note.timestamp).format("YYYY-MM-DD HH:mm") %></span>
                            </div>
                            <div class="panel-body">
                                <%= note.description%>
                            </div>

                        </div>
                        <% }); %>
                    </table>
                </div>
            <div class="panel-footer panel-primary">
                <div class="form-group">
                    <label id="noteLabel" for="note"><span class="noteColor"> Note: </span></label>
                    <textarea class="form-control" rows="6" id="noteTextArea"></textarea>
                </div>
                <button type="button" class="btn btn-primary" id="submitNote">Submit</button>
            </div>
        </div>
    </div>
</div>
<script>
    $('#submitNote').on('click', function (e) {
        e.preventDefault();
        $.ajax({
            method: 'post',
            url: '/visits/addNote',
            data: {
                "description": $('#noteTextArea').val(),
                "visit_id": "<%= visit.id %>"
            },
            dataType: 'json',
            success: function (result) {
                if (result.status = 200) {
                    location.reload(true);
                } else {
                    alert('error');
                }
            },
            error: function (xhr, status, error) {
                alert(status.message);
            }
        });
    });
</script>
</body>
</html>